img[src=''] {
  opacity: 0;
}

.afu-img {
  display: inline-block;
  overflow: hidden;
  position: relative;
  font-size: 0;
  width: 320px;
  height: 240px;
}

.afu-img.afu-img__widthfix {
  height: 100%;
}

.afu-img__mode-stretch {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.afu-img__mode-contain {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.afu-img__mode-cover {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.afu-img__mode-auto {
  width: 100%;
}

.afu-img__mode-top {
  width: 100%;
}

.afu-img__mode-bottom {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.afu-img__mode-left {
  height: 100%;
}

.afu-img__mode-right {
  position: absolute;
  height: 100%;
  right: 0;
}

.afu-img__mode-topright {
  position: absolute;
  right: 0;
}

.afu-img__mode-bottomleft {
  position: absolute;
  bottom: 0;
}

.afu-img__mode-bottomright {
  position: absolute;
  right: 0;
  bottom: 0;
}
